/* Variables de colores */
:root {
    --color1: #1e5a84;
    --color2: #dce6ea;
    --color3: #76a8cb;
    --color4: #626261;
    --color5: #727474;
    --color6: #212529;
}

body {
    padding: 0;
    margin: 0;
    background-color: #343a40;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: #212529;
    padding: 10px;
}

.container {
    color: #F0F0F0;
}

.navbar-custom {
    background-color: #212529 !important;
}

.aLogoImg {
    color: white;
    text-decoration: none;
}

.logoImg {
    max-height: 120px;
    animation: pulseFade 3s infinite;
}

.Titletxt {
    font-size: 3vh;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.div-izquierda {
    animation: entrarDesdeLaIzquierda 1s ease-out forwards;
}

.div-derecha {
    animation: entrarDesdeLaDerecha 1s ease-out forwards;
}

.titleSobreNosotros {
    font-size: 2vh;
    margin-bottom: 15px;
}

.card-body {
    background-color: #F0F0F0;
}

.list-group-item {
    background-color: #F0F0F0;
    transition: background-color 0.5s ease;
}

.list-group-item:hover {
    background-color: #D6D6D6;
}

footer {
    font-family:'Times New Roman', Times, serif;
    background-color: #343a40;
    color: #F0F0F0;
}

footer a {
    text-decoration: none;
}

box-icon {
    transition: transform 0.3s ease; /* Animación suave para la transformación */
}

box-icon:hover {
    transform: scale(1.2);
}

/* Animaciones */
@keyframes entrarDesdeLaIzquierda {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes entrarDesdeLaDerecha {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulseFade {
    0%, 100% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.02);
        opacity: 1;
    }
}


